body {
  background-color: #16272b;
  color:#F0F0F0;
  font-family:"Roboto", "Arial", sans-serif;
  font-weight: normal;
}
.page-loading {
  background-color: #16272b;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.page-loading img {
  position: absolute;
  left: 50%;
  margin-left: -12px;
  top: 50%;
}
a {
  color: #FFF;
  text-decoration: none;
}

i.small {
  font-size: 0.65em;
}
i.descent {
  color: #666;
}

.drop-type {
  display: inline-block;
  font-size: 10px;
  text-transform: uppercase;
  min-width: 100px;
  color: #999;
}
.drop-item {
  display: inline-block;
  min-width: 350px;
}
.drop-arrow {
  display: inline-block;
  min-width: 30px; 
}
i.left-space {
  padding-left: 10px;
}
i.light {
  color: #666;
}

div.error {
  position: relative;
  color: #FFF;
  background-color: #df0f45;
  width: 50%;
  top: 0;
  padding: 5px 20px;
  margin: 20px 0 10px 0;
  border: 1px solid #f4104c;
}
div.error i {
  color: #fff;
  font-size: 13px;
}
div.error > p {
  display: inline-block;
  width: auto;
  padding-left: 20px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 20px;
}

h1 {
  font-size: 36px;
  font-weight:normal;
}
h1 > small {
  font-size: 18px;
  text-transform: uppercase;
  color: #666;
}

h2 {
  margin-top: 10px;
  font-size: 18px;
}

.half {
  width: 45%;
  margin-right: 2%;
  float: left;
}
h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: normal;
}
h4 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  margin-top: 30px;
  color: #ccc;
}

.raid  {
  width: 100%;
  float: left;
  margin-bottom: 80px;
}

img.character-thumbnail {
  border: 1px solid #222;
  width: 24px;
  height: 24px;
}

h1 + p {
  padding-top: 20px;
}
p {
  line-height: 24px;
}
.tleft {
  text-align: left;
}
.half > .half {
  margin-top: 20px;
}
a.quicktool {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
  float: left;
  padding: 5px 5px;
  text-indent: 10px;
  margin-right: 5px;
}

.back-link {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 40px;
  background-color: #666;
  display: block;
  padding: 0 20px;
  transition: 200ms;
}
.back-link:hover {
  background-color: #999;
}

select {
  background-color: #202020;
  border: 1px solid #111;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: #FAFAFA;
  padding: 5px 0;
}
select:focus {
  outline:none;
}
input[type="submit"] {
  cursor: pointer;
}
input[type="checkbox"] {
  width: 18px;
  height: 18px;
}

hr {
  margin: 10px 0;
  border: none;
  border-bottom:1px solid #333;
}
.assign {
  opacity: .6;
}
.bis-block {
  float: left;
  margin: 20px 20px 40px 0;
  background-color: #111f22;
  border: none;
  padding: 20px;
  width: 28%;
}
.bis-block.last {
  clear: both;
}

ul {
  margin-top: 30px;
}
ul li {
  line-height: 30px;
  border-bottom: 1px solid #333;
}
